<%- include('./partial/header.ejs') %>
<%- include('./partial/menu.ejs') %>
<p>Login as: <%=username%></p>
<div class="container-fluid">
    <h1>Makan Yuk's</h1>
    <h3>Selamat datang, <%=username%></h3>
</div>


<%- include('./partial/footer.ejs') %>
