<%- include('./partial/header.ejs') %>
<%- include('./partial/menu.ejs') %>
<p>Login as: <%=user.username%></p>
<div class="container-fluid">
    <h1><%=user.RestaurantName%></h1>
    <h3>Selamat datang, <%=user.username%></h3>
</div>


<%- include('./partial/footer.ejs') %>
i
