<%- include('../partial/header.ejs') %>
<%- include('../partial/menu.ejs') %>

<table border="1">
    <thead>
        <th>id</th>
        <th>No Meja</th>
        <th>Menu</th>
        <th>Quantity</th>
        <th>Keterangan</th>
        <th>Action</th>
    </thead>
    <tbody>
        <% for(let i=0; i<data.length; i++) {%>
        <tr>
            <td><%= data[i].id %></td>
            <td><%= data[i].mejaId %></td>
            <td>
                <ul>
                    <% for(let j=0; j<data[i].Menus.length; j++){%>
                    <li><%= data[i].Menus[j].name%></li>
                    <% } %>
                </ul>
            </td>
            <td>
                <ul>
                    <% for(let k=0; k<data[i].Menus.length; k++){%>
                    <li><%= data[i].Menus[k].PesananMenu.quantity %></li>
                    <% } %>
                </ul>
            </td>
            <td>
                <ul>
                    <% for(let n=0; n<data[i].Menus.length; n++){%>
                    <li><%= data[i].Menus[n].PesananMenu.keterangan %></li>
                    <% } %>
                </ul>
            </td>
            <td>
                <ul>
                    <% for(let m=0; m<data[i].Menus.length; m++){%>
                        <% if(data[i].Menus[m].PesananMenu.status === false){ %>
                            <li><a href="/dapur/<%= data[i].PesananMenus[m].id %>/done">TOMBOL</a></li>
                        <% } else { %>
                            <li>done</li>
                        <% } %>
                    <% } %>
                </ul>
            </td>
        </tr>
        <% } %>
    </tbody>
</table>

<%- include('../partial/footer.ejs') %>