<%- include('../partial/header.ejs') %>
<%- include('../partial/menu.ejs') %>


<div class="container">
        <h2>Status Meja</h2>
        <h4><a href='/kasir' class="btn btn-primary">All</a>
        <a href='/kasir/active' class="btn btn-primary">Active</a>
        <a href='/kasir/history' class="btn btn-primary">History</a></h4>

        <table class="table table-striped">
          <thead>
            <tr>
                <th>No</th>
                <th>Meja</th>
                <th>Menu</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% for(let i=0; i<data.length; i++) {%>
            <tr>
                <% no=i+1 %>
              <td><%= no %></td>
              <td><%= data[i].mejaId %></td>
              <td>
                <ul class="list-group">
                    <% for(let j=0; j<data[i].Menus.length; j++){%>
                    <li><%= data[i].Menus[j].name%></li>
                    <% } %>
                </ul>
              </td>
              <td>
                <ul class="list-group">
                    <% for(let k=0; k<data[i].Menus.length; k++){%>
                    <li><%= data[i].Menus[k].PesananMenu.quantity %></li>
                    <% } %>
                </ul>
              </td>
              <td>
                <ul class="list-group">
                    <% for(let k=0; k<data[i].Menus.length; k++){%>
                    <li><%= helper.rupiahString(data[i].Menus[k].price) %></li>
                    <% } %>
                </ul>
              </td>
              <td>
                <ul class="list-group">
                    <% for(let k=0; k<data[i].Menus.length; k++){%>
                    <li><%= helper.rupiahString(helper.countTotal(data[i].Menus[k].price, data[i].Menus[k].PesananMenu.quantity)) %></li>
                    <% } %>
                </ul>
              </td>
              <td><%= data[i].status %></td>
              <td>
                <% if(data[i].status != 'done'){ %>
                    <a class="btn btn-danger" href="/kasir/<%= data[i].id %>/struk">BAYAR</a>
                <% } else { %>
                    <a class="btn btn-success" href="" disabled>Sudah Bayar</a>
                <% } %>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>

<!-- <table border="1">
    <thead>
        <th>No Meja</th>
        <th>Menu</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
        <th>Status</th>
        <th>Action</th>
    </thead>
    <tbody>
        <% for(let i=0; i<data.length; i++) {%>
        <tr>
            <td><%= data[i].mejaId %></td>
            <td>
                <ul>
                    <% for(let j=0; j<data[i].Menus.length; j++){%>
                    <li><%= data[i].Menus[j].name%></li>
                    <% } %>
                </ul>
            </td>
            <td>
                <ul>
                    <% for(let k=0; k<data[i].Menus.length; k++){%>
                    <li><%= data[i].Menus[k].PesananMenu.quantity %></li>
                    <% } %>
                </ul>
            </td>
            <td>
                <ul>
                    <% for(let k=0; k<data[i].Menus.length; k++){%>
                    <li><%= helper.rupiahString(data[i].Menus[k].price) %></li>
                    <% } %>
                </ul>
            </td>
            <td>
                <ul>
                    <% for(let k=0; k<data[i].Menus.length; k++){%>
                    <li><%= helper.rupiahString(helper.countTotal(data[i].Menus[k].price, data[i].Menus[k].PesananMenu.quantity)) %></li>
                    <% } %>
                </ul>
            </td>
            <td><%= data[i].status %></td>
            <td>
                <% if(data[i].status != 'done'){ %>
                    <a href="/kasir/<%= data[i].id %>/struk">BAYAR</a>
                <% } else { %>
                    Sudah Bayar
                <% } %>
            </td>
        </tr>
        <% } %>
    </tbody>
</table> -->


<%- include('../partial/footer.ejs') %>
