<%- include('../partial/menu.ejs') %>

<table border="1">
    <thead>
        <th>No Meja</th>
        <th>Menu</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
        <th>Status</th>
        <th>Action</th>
    </thead>
    <tbody>
        <% for(let i=0; i<data.length; i++) {%>
        <tr>
            <td><%= data[i].mejaId %></td>
            <td>
                <ul>
                    <% for(let j=0; j<data[i].Menus.length; j++){%>
                    <li><%= data[i].Menus[j].name%></li>
                    <% } %>
                </ul>
            </td>
            <td>
                <ul>
                    <% for(let k=0; k<data[i].Menus.length; k++){%>
                    <li><%= data[i].Menus[k].PesananMenu.quantity %></li>
                    <% } %>
                </ul>
            </td>
            <td>
                <ul>
                    <% for(let k=0; k<data[i].Menus.length; k++){%>
                    <li><%= helper.rupiahString(data[i].Menus[k].price) %></li>
                    <% } %>
                </ul>
            </td>
            <td>
                <ul>
                    <% for(let k=0; k<data[i].Menus.length; k++){%>
                    <li><%= helper.rupiahString(helper.countTotal(data[i].Menus[k].price, data[i].Menus[k].PesananMenu.quantity)) %></li>
                    <% } %>
                </ul>
            </td>
            <td><%= data[i].status %></td>
            <td>
                <% if(data[i].status != 'done'){ %>
                    <a href="/kasir/<%= data[i].id %>/struk">BAYAR</a>
                <% } else { %>
                    Sudah Bayar
                <% } %>
            </td>
        </tr>
        <% } %>
    </tbody>
</table>