
<h1>Meja <%= data[0].mejaId %></h1>
<table border="1">
    <tr>
        <td>No</td>
        <td>Name</td>
        <td>Harga</td>
        <td>Qty</td>
        <td>Total</td>
    </tr>
    <% let total = 0 %>
    <% for(let i=0; i<data[0].Menus.length; i++){ %>
        
        <tr>
            <% no=i+1 %>
            <td><%= no %></td>
            <td><%= data[0].Menus[i].name %></td>
            <td><%= helper.rupiahString(data[0].Menus[i].price) %></td>
            <td><%= data[0].PesananMenus[i].quantity %></td>
            <td><%= helper.rupiahString((data[0].PesananMenus[i].quantity*data[0].Menus[i].price)) %></td>
            <% total += data[0].PesananMenus[i].quantity*data[0].Menus[i].price %>
        </tr>
    <% } %>
</table>
<h3>Total Bayar = <%= total %></h3>

<br><br>

<a href="/kasir/<%= data[0].id %>/bayar">BAYAR</a>
